<p>IP:{{ contactInfo.ipAddress }}
</p>Name:{{ contactInfo.name }}
<p>Mail:{{ contactInfo.mail }}
</p>Phone:{{ contactInfo.phoneNumber|phone_number_format('NATIONAL') }}
<p>Message:{{ contactInfo.message }}</p>